@{
    ViewData["Title"] = "About";
}
<h1>About</h1>
<h3></h3>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Collect data, Measure, Improve, Repeat</h1>
        <p class="lead"></p>
    </div>
</div>

