@{
    ViewData["Title"] = "Url Stats";
}
@model UrlRunDetails


<div class="container-fluid">
    <h1>Details</h1>
    <div class="row">
        <div class="col-lg-12">

            <p><mark>@Model.Url</mark></p>
        </div>


    </div>
    <div class="row">
        <div class="col-lg-12">
            <div id="chart_div" style="width: 100%; height: 300px;"></div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <td>Time polled</td>
                        <td>Duration(ms)</td>
                        <td>Status</td>
                    </tr>
                    </thead>
                    @foreach (var run in Model.Calls.OrderByDescending(a => a.StartTime))
                    {
                        <tr>
                            <td>@run.StartTime</td>
                            <td>@run.Duration</td>
                            <td>@run.Status</td>
                        </tr>
                    }
                </table>
          </div>
        </div>
    </div>

</div>

@section Scripts
    {

    <script>

        @{
            var d = Model.Calls.Select(u => new { Date = u.StartTime.ToString("g"), u.Duration });
        }

        (function($) {
            var data =@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(d));
            var d = [['Date', 'Duration']];

            $.each(data,function (index, item) {
                d.push([item.Date, item.Duration]);
            });

            $(function() {
                google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(drawChart);

                function drawChart() {
                    var data = google.visualization.arrayToDataTable(d);

                    var options = {
                        title: 'Response Time(ms)',
                        hAxis: {title: 'Date',  titleTextStyle: {color: '#333'}},
                        vAxis: {minValue: 0}
                    };

                    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
                    chart.draw(data, options);
                }
            });

        })(jQuery);



    </script>
}
